.triangle {
  width: 0px;
  height: 0px;
  border-left: 34px solid blue;
  border-right: 60px solid transparent;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  left: 584px;
  position: absolute;
  
}
.rectangle{
	width: 576px;
	height: 119px;
	background-color: blue;
    position: relative;
}
.triangle1 {
  width: 0px;
  height: 0px;
  border-left: 34px solid transparent;
  border-right: 39px solid blue;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  position: relative;
}
.rectangle1{
	width: 576px;
	height: 119px;
	background-color: blue;
	position: absolute;
	top: 129px;
	left: 80px;
}